<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    

    <div>
        <a href="{{url_for('indextest')}}"><button type="button" class="m-3 btn btn-primary">Create</button></a>
                <!-- cái nút bấm là sẽ truy cập vào trang indextest-->
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Weight</th>
            <th scope="col">Height</th>
            <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>
            {% for person in data %}    <!-- vong for trong html-->
            <!--data = dataGet_person GET trong app.py, dataGet_person = Person.objects() trong classmodels-->
            <!-- {% if person.status == True %} if trong html -->
            <!-- nếu bài của người đó được duyệt -->
          <tr>
            <th scope="row">{{loop.index}}</th> <!-- đánh số thứ tự liên tiếp -->
            <td>{{person.name}}</td>  <!-- lấy trong classModels-->
            <td>{{person.age}}</td>
            <td>{{person.weight}}</td>
            <td>{{person.height}}</td>
            <td>
                <a href="{{url_for('editUser', userId = person.id )}}">Edit</a>
                /
                <a href="{{url_for('deleteUser', userId = person.id )}}">Delete</a>
            </td>
          </tr>
            <!-- {% endif %} -->
            {% endfor %}
        </tbody>
      </table>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>