<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../static/homepage.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

  {% include 'metadata.html' %}
</head>
<body>

  <div id="header">
    <div id="nav_left">
      <button class="nav-item"></button>
      <button class="nav-item"></button>
      <button class="nav-item"></button>
      <button class="nav-item"></button>
      <button class="nav-item"></button>


    </div>  
    
    
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">Features</a>
              <a class="nav-item nav-link" href="#">Pricing</a>
              <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </div> -->
            <div id="login">
              <button>
                LogOut
              </button>
              <button>
                Login
              </button>
            </div>
          </div>
      </nav>
  </div>

  <div id="banner">
     <span>THIS IS BANNER!</span>
  </div>

  <div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>

  <div id="carousel">
    <div id="carouselExampleControls" class="carousel slide slideWidth" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.sprep.org/sites/default/files/images/slideshow/GondwanaAA%20-%20optimized_0.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://www.sprep.org/sites/default/files/images/slideshow/GondwanaAA%20-%20optimized_0.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://www.sprep.org/sites/default/files/images/slideshow/GondwanaAA%20-%20optimized_0.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div id="content">
    <div id="left">
      <div id="first_tab">
          <div id="pull_left">
            <span>Environment</span>
          </div>  
          <div id="pull_right"> 
            <div class="top_small"></div>
            <div class="top_small"></div>
            <div class="top_small"></div>
            <div class="top_small"></div>
            <div class="top_small"></div>

          </div>    
      </div>
    <div id="content_news1">
      <div class="khung_news">
        <div class="pic_news">
          <img class="imgNews" src="https://image-us.24h.com.vn/upload/1-2018/images/2018-01-19/1516350337-447-anh-4-1516332733-width660height879.jpg">
        </div>
        <div class="content_news">
          
        </div>
      </div>
      <div class="khung_news"></div>
      <div class="khung_news"></div>
    </div>

    <div id="content_news2">
        <div class="khung_news"></div>
        <div class="khung_news"></div>
        <div class="khung_news"></div>
    </div>

    <div id="content_news2">
        <div class="khung_news"></div>
        <div class="khung_news"></div>
        <div class="khung_news"></div>
    </div>

    <div id="content2">
      <div id="left_content2">
        <div class="big_content"></div>
        <div class="small_conten1">
          <div class="leftSmall">
          </div>
          <div class="rightSmall">
          </div>
        </div>

        <div class="small_conten2">
          <div class="leftSmall">
          </div>
          <div class="rightSmall">
          </div>
        </div>
      </div>
      
      <div id="right_content2">

      </div>
    </div>

    </div>
    <div id="right">
      <div id="top_right">
      <div id="row1">
        <div class="container">
          <button class="btn btn1">Follow us</button>
        </div>
      </div>
      
      
      <div id="row2">
        <div class = "middle">
          <a class ="btn_a" href="#">
              <i class="fab fa-facebook-f"></i>          
          </a>
          <a class ="btn_a" href="#">
              <i class="fab fa-twitter"></i>          
          </a>
          <a class ="btn_a" href="#">
              <i class="fab fa-google"></i>          
          </a>
          <a class ="btn_a" href="#">
              <i class="fab fa-instagram"></i>          
          </a>
          <a class ="btn_a" href="#">
              <i class="fab fa-youtube"></i>          
          </a>
      </div>
      </div>

      <div id="row3">
        <span>ENVIRONMENT</span>
      </div>

      <div id="row4">
        <span>COOPERATION</span>
      </div>


    </div>
      <div id="ads"></div>
    
    <div id="list_news">
      <div id="top_list">
        <div class="tab1"><span>Popular</span></div>
        <div class="tab1"><span>Recent</span></div>
        <div class="tab1"><span>Comment</span></div>
      </div>
      <div id="list_content">
        <div class="list_items"></div>
        <div class="list_items"></div>
        <div class="list_items"></div>
        <div class="list_items"></div>
        <div class="list_items"></div>
      </div>
    </div>
  </div>
  </div>

  <div id="footer">
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>